@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .font-babas {
    font-family: var(--font-babas-neue), sans-serif;
  }
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}
